<!-- your html code here -->
<div class="container-fluid bg-white">
<section class="container-lg bg-white">
    <div class="row py-lg-3">
    <div class="col-lg-12 mx-auto">
        <h1 class="fw-light">Portfolio</h1>
        <p class="lead text">Donec ullamcorper nulla non metus autor fringilla.
            Vestibulum id igula porta felis euismod semper. Praesent commodo cursus
            magna, vel scelerisque nisl consecteur. Fusce dapibus, tellus ac cursus commodo.
        </p>
    </div>
    </div>

<div class="row">
    <div class="col-md-4">
      <img style="height: 15vw; object-fit: cover;" src="https://c7.uihere.com/files/930/888/25/hulk-youtube-cartoon-drawing-she-hulk.jpg" class="img-fluid w-100">
      <div class="mb-3 box">
      </div>
      <p class="h5 text-primary">Project Name</p>
      <p class="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi earum non veniam officiis facilis vitae!
      </p>
    </div>
    <div class="col-md-4">
      <img style="height: 15vw; object-fit: cover;" src="https://i.pinimg.com/736x/b1/aa/35/b1aa353b7d52274fc0f4f83e411c033a.jpg" class="img-fluid w-100">
      <div class="mb-3 box">
      </div>
      <p class="h5 text-primary">Project Name</p>
      <p class="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi earum non veniam officiis facilis vitae!
      </p>
    </div>
    <div class="col-md-4">
      <img style="height: 15vw; object-fit: cover;" src="https://i.pinimg.com/736x/4e/c7/32/4ec732874174fc5d5e05f3a90f9c2faf.jpg" class="img-fluid w-100">
      <div class="mb-3 box">
      </div>
      <p class="h5 text-primary">Project Name</p>
      <p class="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi earum non veniam officiis facilis vitae!
      </p>
    </div>
  </div>
</section>
</div> 