<!-- your html code here -->
<div class="row">
    <div class="col-4">
        <img src="../assets/img/2.jpg" alt="hands on a keyboard">
    </div>
    <div class="col-8">
        <h2>The Second Heading is <span class="text-light"> Pretty Cool Too.</span></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quis quibusdam libero laudantium corrupti, odio sed aliquam provident, perferendis architecto illum esse, cumque voluptate consectetur. Deserunt rem consequatur pariatur animi?</p>
    </div>
</div>